.popup{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1;
}