.popup__input{
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}