.popup__container{
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 645px) {
  .popup__container{
    margin: 0 auto;
    width: 282px;
  }
}