.profile__about{
  margin: 0;
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 940px) {
  .profile__about{
    margin-top: 4px;
    margin-left: 30px;
    max-width: 90%;
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
    text-align: center;
  }
}