.profile{
  margin: 40px auto 0 auto;
  max-width: 880px;
  min-width: 282px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content;
  grid-auto-flow: column;
}
@media screen and (max-width: 940px) {
  .profile{
    margin: 42px 19px 0 19px;
    grid-template-rows: none;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}