.elements__remove{
  padding: 0;
  width: 18px;
  height: 19.3px;
  display: none;
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/elements/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 18px;
  right: 15px;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.elements__remove:hover{
  cursor: pointer;
  opacity: 0.6;
}