.profile__edit-button{
  margin-left: 18px;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  align-self: end;
  border: 1px solid #FFFFFF;
  outline: none;
  background-color: transparent;
  background: url("../../../images/profile/Edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.profile__edit-button:hover{
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 940px) {
  .profile__edit-button{
    margin-left: 5px;
    margin-bottom: 6px;
    width: 18px;
    height: 18px;
  }
}