.popup__submit-button{
  margin: 48px auto 37px auto;
  padding: 0;
  width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  align-self: center;
  justify-self: end;
  border: 0;
  border-radius: 2px;
  outline: none;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.popup__submit-button:hover{
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (max-width: 645px) {
  .popup__submit-button{
    width: 238px;
    height: 46px;
    margin: 45px auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }
}