.profile__name{
  margin: 0;
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: 'name';
  align-self: end;
  color: #FFFFFF;
}