.popup__close-button{
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/popup/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.popup__close-button:hover{
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 645px) {
  .popup__close-button{
    width: 18px;
    height: 18px;
    right: 10px;
    background-image: url(../../../images/popup/close-small.svg);
  }
}