.profile__add-button{
  width: 150px;
  height: 50px;
  align-self: center;
  justify-self: end;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
  background: url("../../../images/profile/Plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.profile__add-button:hover{
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 940px) {
  .profile__add-button{
    margin-top: 24px;
    width: 282px;
    justify-self: center;
  }
}