.profile__info{
  margin: 14px 0 0 0;
  margin-left: 30px;
  padding: 0;
  display: grid;
  grid-template-columns: fit-content(500px) max-content;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
@media screen and (max-width: 940px) {
  .profile__info{
    margin: auto;
    margin-top: 26px;
  }
}
